.photo-input-td{
  padding: 0 !important;
  
  .input-continer{
    display: block;
    position: relative;
    cursor: pointer;
    padding:0px;
    
    .photo-input{
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute;
    }
  }
  
  &:hover{
    .photo-input-td:hover{
      cursor: pointer;      
    }
  }
}