@import '../../../helpers/colors.css';

.report-title{
  color:white;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}
.location-number{
  color: rgb(212, 211, 211);
  font-size: 2rem;
  
}
.page{
  height: 210mm;
  width: 297mm;
  
}

.frontPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-blue-navy);
}

.frontPage .logo{
  width: 400px;
  
}
.picture-cap{
  height: 189.5mm;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  align-items: baseline;
  justify-content: space-evenly;
  background: url('../../../images/report-bg.png');
  background-size: cover;
  
  
}
.location-picture{
  height: 500px;
  /* width: 188mm;
  height: auto; */
}
.location-adddres{
color: white;
margin: auto 25%;
  font-size: 1.5rem;
}
.location-picture img{
  border-bottom: 10px solid #E93847;
  border-right: 10px solid #E93847;
  height: 500px;
  
  
}
.location-map{
  border-top: 10px solid #E93847;
  border-left: 10px solid #E93847;
  align-self: end;

}

.location-cap p{
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

.report-footer{
  display: flex;
  height: 20.5mm;
  width: 297mm;
}
.fill{
  background-color: var(--dark-blue-navy);
  width: 60%;
}
.footer-img{
  width: 40%;
  background-color: var(--dark-blue-navy);
}
.footer-img img{ 
  padding: 8px;
  height: 18mm;
  width: auto;}

