.cards-container {
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
}
.page-header {
  margin-top: 1%;
}
.location-icon{
  color:red;
  font-size: 1.5rem;
  
}