header{
    padding: 10px;
}
.ant-form-item-control{
    width: 100% ;
}
.ant-drawer-body{
    padding: 0% !important
}
.drawer-title{
    padding: 24px;
    background-color: #172F57;
    
}
.drawer-title h1{
    color:rgb(235, 235, 235);
    text-transform: uppercase;
    margin: 0 3%;

}
.ant-form-item-label label {
    text-transform: uppercase !important;
    font-weight: 600;
    font-size: 1rem !important;
}
.ant-picker-large{
    width: 100%;
}
.form-row{
   padding: 2% !important;
    border-radius: 3px;
    margin: 0 3% !important;
}
.location-table{
    padding: 1%;   
    border-radius: 5px;
}
.added-locations{
    padding: 1%;   
    border-radius: 5px;
}
.added-locations li{
    background-color: white;
}